<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application

            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.Studybuddy"
            tools:targetApi="31">

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".Activity.SignUpActivity"
                android:label="SignupActivity"
                android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
                android:name=".Activity.LoginActivity"
                android:label="LoginActivity"
                android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
                android:name=".Activity.AdminHomepageActivity"
                android:label="HomepageActivity"
                android:windowSoftInputMode="adjustPan">

        </activity>

        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>


        <activity
                android:name=".Activity.UserHomePageActivity"
                android:label="UserHomePage"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".Activity.StudyPlanActivity"
                android:label="StudyPlanFragment">
        </activity>

        <activity
                android:name=".Activity.StudyPlanCoursesActivity"
                android:label="StudyPlanCoursesActivity">
        </activity>
        <activity
                android:name=".Activity.AdminAddCourseActivity"
                android:label="AdminAddCourseActivity">
        </activity>

        <activity android:name=".Activity.AdminPrerequisitesActivity"
                  android:label="AdminPrerequisitesActivity">
        </activity>
        <activity android:name=".Activity.AdminViewCourseInfoActivity"
                  android:label="AdminPrerequisitesActivity">
        </activity>

    </application>

</manifest>
